body {
  background-color: purple;
}
.container{

      display: flex;
      width: 750px;
      height: 70px;
      margin:auto;


}

.över{


  background-color: yellow;
  border-style: solid;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
  box-shadow: 6px 6px 6px;
  z-index: 3;

}


.container2{

      display: flex;
      background-color: green;
      width: 750px;
      height: 725px;
      margin:auto;
      border-radius: 15px;
      box-shadow: 6px 6px 6px;
      margin-top: 10px;
}

.item1{
  display: flex;
  width: 500px;
  padding: 40px;
  font-size: 18px;

}


.item2{
  display: flex;
  width: 250px;
  padding: 40px;
  font-size: 18px;
  border-left: solid;
  border-color: white;
  border-width: 1px;
}

.Under{
  display: none;
  border-style: solid;
  border-radius: 5px;
  background-color: yellow;
  box-shadow: 4px 4px 4px;
  height: 25px;
  width: 125px;
  z-index: 3;
}

.över:hover .Under{
  display: block;
  border-color: red;
  z-index: 3;

}

.över:hover {
  color: red;
    z-index: 3;
}
