body {
  background-color: purple;
}
.container{

      display: flex;
      width: 750px;
      height: 70px;
      margin:auto;


}

.över{

  /*display: flex;*/
  background-color: yellow;
  border-style: solid;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  /*ext-align: left;*/
  justify-content: left;--------------
  align-items: center;----------------
  font-size: 20px;
  box-shadow: 10px 10px 10px;

}


.container2{

      display: flex;
      background-color: green;
      width: 750px;
      height: 725px;
      margin:auto;
      border-radius: 15px;
      box-shadow: 10px 10px 10px;
}

.item1{
  display: flex;
  width: 500px;
  padding: 40px;
  font-size: 17px;

}


.item2{
  display: flex;
  width: 250px;
  padding: 40px;
  font-size: 17px;
  border-left: solid;
  border-color: white;
  border-width: 1px;
}

.Under{
  display: none;
  border-style: solid;
  border-radius: 5px;
  background-color: yellow;
  box-shadow: 10px 10px 10px;
}

.över:hover .Under{
  display: block;
  border-color: red;

}

.över:hover {
  color: red;

}
