body{
  background-image: url("fortnitebackground.jpg");
  overflow: hidden;
}


img{
  margin-left: 50px;
  margin-top: 50px;
}

iframe{
border: 0px;
}

.over{
  color:rgb(160, 3, 253);
  border-style: solid;
  width: 542px;
  height: 75px;
  margin: auto;
  font-size: 50px;
  background-color:rgb(27, 8, 88);
  text-align: center;
  font-family: Arial, serif;
}


.under{
  padding: 30px;
  color: black;
  background-color: white;
  display: none;
  border-style: solid;
  position: absolute;
  bottom: 0;
}


.over:hover {
  color: white;
  background-color: black;
}


.over:hover .under{
display: block;
}


.container{
  width: 1626px;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: green;
}


.item {
padding: 30px;
}
