body{
  background-image: url("fortnitebackground.jpg");
  overflow: hidden;

}

img{
  margin-left: 50px;
  margin-top: 50px;

}

.över{
  color:rgb(160, 3, 253);
  border-style: solid;
  width: 542px;
  height: 75px;
  margin: auto;
  font-size: 50px;
  background-color:rgb(27, 8, 88);
  text-align: center;

}

.under{
  padding: 30px;
  color: black;
  background-color: white;
  display: none;
  border-style: solid;
  position: absolute;
  bottom: 0;
}

a{
/* GÖR EN SLUMGENERATOR SOM CASE UNBOXING FÖR JAVASCRIPT
gör helfägrad med en trailer eller video i mitten */

}

}

.över:hover {
  color: white;
  background-color: black;
}

.över:hover .under{
display: block;

}

.container{
  width: 1626px;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: green;
  margin-top: px;
}

.item {
padding: 30px;

}

.video{


}
