body{
  background-image: url("fortnitebackground.jpg");
  overflow: hidden;

}

img{
  margin-left: 50px;
  margin-top: 50px;'
  z-index: 100;
  /*shadow: 100px 100px 10px;*/

}

.över{
  color:rgb(160, 3, 253);
  border-style: solid;
  width: 542px;
  height: 75px;
  margin: auto;
  font-size: 50px;
  background-color:rgb(27, 8, 88);
  text-align: center;

}

.under{
  width: 100px;
/*  height: 75px; */
  color: black;
  display: none;
  border-style: solid;
  bottom: 200px;
}

h1{
  font-size: 50px;
  margin-top: 7px;
  color: darkorange;
  border: black;
  text-shadow: 10px 10px 10px;

}

.över:hover {
  color: white;
  background-color: black;
}

.över:hover .under{
display: block;

}

.container{
  width: 1626px;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: green;
  margin-top: 450px;
}
