body{
  /*background-color: white;*/
  background-image: url("csgo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.över{
  color: powderblue;
  border-style: solid;
  width: 200px;
  height: 75px;
  margin: auto;
  font-size: 50px;
  background-color: navy;
}

.under{
  width: 150px;
  height: 75px;
  color: black;
  display: none;
  border-style: double;
}

/* .över:hover .under{
  display: block;
}*/

.över:hover {
  color: white;
  background-color: black;
}

.container{
  width: 600px;
  background-color: black;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 800px;
}
