body{
  background-image: url("csgo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img{
  margin-left: 950px;
  margin-top: 15px;
  shadow: 100px 100px 10px;

}

.över{
  color: darkorange;
  border-style: solid;
  width: 542px;
  height: 75px;
  margin: auto;
  font-size: 50px;
  background-color: black;
  text-align: center;

}

.under{
  width: 150px;
  height: 75px;
  color: black;
  display: none;
  border-style: double;
}

h1{
  font-size: 50px;
  margin-top: 7px;
  color: darkorange;
  border: black;
  text-shadow: 10px 10px 10px;

}

/* .över:hover .under{
  display: block;
}*/

.över:hover {
  color: white;
  background-color: black;
}

.container{
  width: 1626px;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: green;
  margin-top: 620px;
}
