h1{
  /*egenskap:värde */
color:powderblue;
  font-size: 100px;
text-align: center;
}
/* vi kan skapa klasser som har speciella egenskaper*/
p {
    color: powderblue;
    font-size: 50px;
    text-align: center;
}
div{
color: powderblue;
font-size: 35px;
text-align: center;
height: 350px;
width: 300px;
background-color: ;
margin: auto;

}
