h1{
  /*egenskap:värde */
color:powderblue;
  font-size: 100px;
text-align: center;

}
/* vi kan skapa klasser som har speciella egenskaper*/
.container {
    color: powderblue;
    font-size: 75px;
    text-align: center;
    margin: auto;
    background-color: black;
    width:400px;
    border-style: solid;

}
.item1{
display: none;
background-color: black;
color: powderblue;
font-size: 50px;
text-align: center;
height: 150px;
width: 400px;
margin: auto;

}

.container:hover .item1{
  display: block;


}
